In [1]:
import pandas as pd
X=pd.read_csv(r"C:\Users\Arbaj\Desktop\Demo Datasets\Lesson 4\bigmart_train.csv")
Y=pd.read_csv(r"C:\Users\Arbaj\Desktop\Demo Datasets\Lesson 4\bigmart_test.csv")
X

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [2]:
X.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [3]:
Y

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3
...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.000,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.300,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1
5680,FDU37,9.500,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1

In [4]:
Y.isna().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [5]:
X['Item_Weight']=X['Item_Weight'].fillna(X['Item_Weight'].mean())

In [6]:
X['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [7]:
X['Outlet_Size']=X['Outlet_Size'].fillna('Medium')

In [8]:
X.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [9]:
X['Item_Identifier']=X['Item_Identifier'].apply(lambda x:x[0:2])
X.head(3)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FD,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DR,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FD,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700

In [10]:
'Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Item_Type_Combined','Outlet_Type','Outlet'

('Item_Fat_Content',
 'Outlet_Location_Type',
 'Outlet_Size',
 'Item_Type_Combined',
 'Outlet_Type',
 'Outlet')

In [11]:
from sklearn.preprocessing import LabelEncoder
L=LabelEncoder()

In [12]:
X['Outlet_Identifier']=L.fit_transform(X['Outlet_Identifier'])

In [13]:
X.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FD,9.30,Low Fat,0.016047,Dairy,249.8092,9,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DR,5.92,Regular,0.019278,Soft Drinks,48.2692,3,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FD,17.50,Low Fat,0.016760,Meat,141.6180,9,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FD,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,0,1998,Medium,Tier 3,Grocery Store,732.3800
4,NC,8.93,Low Fat,0.000000,Household,53.8614,1,1987,High,Tier 3,Supermarket Type1,994.7052

In [14]:
L=LabelEncoder()
o=['Item_Identifier','Item_Fat_Content','Outlet_Size','Outlet_Location_Type','Outlet_Type']
for i in o:
    X[i]=L.fit_transform(X[i])

In [15]:
X

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,1,9.300,1,0.016047,Dairy,249.8092,9,1999,1,0,1,3735.1380
1,0,5.920,2,0.019278,Soft Drinks,48.2692,3,2009,1,2,2,443.4228
2,1,17.500,1,0.016760,Meat,141.6180,9,1999,1,0,1,2097.2700
3,1,19.200,2,0.000000,Fruits and Vegetables,182.0950,0,1998,1,2,0,732.3800
4,2,8.930,1,0.000000,Household,53.8614,1,1987,0,2,1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,1,6.865,1,0.056783,Snack Foods,214.5218,1,1987,0,2,1,2778.3834
8519,1,8.380,2,0.046982,Baking Goods,108.1570,7,2002,1,1,1,549.2850
8520,2,10.600,1,0.035186,Health and Hygiene,85.1224,6,2004,2,1,1,1193.1136
8521,1,7.210,2,0.145221,Snack Foods,103.1332,3,2009,1,2,2,1845.5976
8522,0,14.800,1,0.044878,Soft Drinks,75.4670,8,1997,2,0,1,765.6700

In [16]:
X.drop(columns=['Item_Type','Outlet_Establishment_Year'],inplace=True)

In [17]:
X.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,1,9.30,1,0.016047,249.8092,9,1,0,1,3735.1380
1,0,5.92,2,0.019278,48.2692,3,1,2,2,443.4228
2,1,17.50,1,0.016760,141.6180,9,1,0,1,2097.2700
3,1,19.20,2,0.000000,182.0950,0,1,2,0,732.3800
4,2,8.93,1,0.000000,53.8614,1,0,2,1,994.7052

In [18]:

X=pd.get_dummies(X,columns=['Item_Identifier','Item_Fat_Content','Outlet_Identifier','Outlet_Size','Outlet_Location_Type','Outlet_Type'])
X

,Item_Weight,Item_Visibility,Item_MRP,Item_Outlet_Sales,Item_Identifier_0,Item_Identifier_1,Item_Identifier_2,Item_Fat_Content_0,Item_Fat_Content_1,Item_Fat_Content_2,...,Outlet_Size_0,Outlet_Size_1,Outlet_Size_2,Outlet_Location_Type_0,Outlet_Location_Type_1,Outlet_Location_Type_2,Outlet_Type_0,Outlet_Type_1,Outlet_Type_2,Outlet_Type_3
0,9.300,0.016047,249.8092,3735.1380,0,1,0,0,1,0,...,0,1,0,1,0,0,0,1,0,0
1,5.920,0.019278,48.2692,443.4228,1,0,0,0,0,1,...,0,1,0,0,0,1,0,0,1,0
2,17.500,0.016760,141.6180,2097.2700,0,1,0,0,1,0,...,0,1,0,1,0,0,0,1,0,0
3,19.200,0.000000,182.0950,732.3800,0,1,0,0,0,1,...,0,1,0,0,0,1,1,0,0,0
4,8.930,0.000000,53.8614,994.7052,0,0,1,0,1,0,...,1,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,6.865,0.056783,214.5218,2778.3834,0,1,0,0,1,0,...,1,0,0,0,0,1,0,1,0,0
8519,8.380,0.046982,108.1570,549.2850,0,1,0,0,0,1,...,0,1,0,0,1,0,0,1,0,0
8520,10.600,0.035186,85.1224,1193.1136,0,0,1,0,1,0,...,0,0,1,0,1,0,0,1,0,0
8521,7.210,0.145221,103.1332,1845.5976,0,1,0,0,0,1,...,0,1,0,0,0,1,0,0,1,0
8522,14.800,0.044878,75.4670,765.6700,1,0,0,0,1,0,...,0,0,1,1,0,0,0,1,0,0

In [19]:
Y

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3
...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.000,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.300,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1
5680,FDU37,9.500,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1

In [20]:
Y.isna().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [21]:
Y['Item_Weight']=Y['Item_Weight'].fillna(Y['Item_Weight'].mean())
Y['Outlet_Size']=Y['Outlet_Size'].fillna('Medium')

In [22]:
Y['Item_Identifier']=Y['Item_Identifier'].apply(lambda x:x[0:2])

In [23]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
p=['Item_Identifier','Item_Fat_Content','Outlet_Identifier','Outlet_Size','Outlet_Location_Type','Outlet_Type']
for i in p:
    Y[i]=l.fit_transform(Y[i])

In [24]:
Y

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,1,20.750000,1,0.007565,Snack Foods,107.8622,9,1999,1,0,1
1,1,8.300000,4,0.038428,Dairy,87.3198,2,2007,1,1,1
2,2,14.600000,1,0.099575,Others,241.7538,0,1998,1,2,0
3,1,7.315000,1,0.015388,Snack Foods,155.0340,2,2007,1,1,1
4,1,12.695633,2,0.118599,Dairy,234.2300,5,1985,1,2,3
...,...,...,...,...,...,...,...,...,...,...,...
5676,1,10.500000,2,0.013496,Snack Foods,141.3154,8,1997,2,0,1
5677,1,7.600000,2,0.142991,Starchy Foods,169.1448,3,2009,1,2,2
5678,2,10.000000,1,0.073529,Health and Hygiene,118.7440,7,2002,1,1,1
5679,1,15.300000,2,0.000000,Canned,214.6218,2,2007,1,1,1
5680,1,9.500000,2,0.104720,Canned,79.7960,7,2002,1,1,1

In [25]:
Y.drop(columns=(['Item_Type','Outlet_Establishment_Year']),inplace=True)

In [26]:
Y.head(3)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,1,20.75,1,0.007565,107.8622,9,1,0,1
1,1,8.30,4,0.038428,87.3198,2,1,1,1
2,2,14.60,1,0.099575,241.7538,0,1,2,0

In [27]:
Y=pd.get_dummies(Y,columns=['Item_Identifier','Item_Fat_Content','Outlet_Identifier','Outlet_Size','Outlet_Location_Type','Outlet_Type'])
Y

,Item_Weight,Item_Visibility,Item_MRP,Item_Identifier_0,Item_Identifier_1,Item_Identifier_2,Item_Fat_Content_0,Item_Fat_Content_1,Item_Fat_Content_2,Item_Fat_Content_3,...,Outlet_Size_0,Outlet_Size_1,Outlet_Size_2,Outlet_Location_Type_0,Outlet_Location_Type_1,Outlet_Location_Type_2,Outlet_Type_0,Outlet_Type_1,Outlet_Type_2,Outlet_Type_3
0,20.750000,0.007565,107.8622,0,1,0,0,1,0,0,...,0,1,0,1,0,0,0,1,0,0
1,8.300000,0.038428,87.3198,0,1,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
2,14.600000,0.099575,241.7538,0,0,1,0,1,0,0,...,0,1,0,0,0,1,1,0,0,0
3,7.315000,0.015388,155.0340,0,1,0,0,1,0,0,...,0,1,0,0,1,0,0,1,0,0
4,12.695633,0.118599,234.2300,0,1,0,0,0,1,0,...,0,1,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5676,10.500000,0.013496,141.3154,0,1,0,0,0,1,0,...,0,0,1,1,0,0,0,1,0,0
5677,7.600000,0.142991,169.1448,0,1,0,0,0,1,0,...,0,1,0,0,0,1,0,0,1,0
5678,10.000000,0.073529,118.7440,0,0,1,0,1,0,0,...,0,1,0,0,1,0,0,1,0,0
5679,15.300000,0.000000,214.6218,0,1,0,0,0,1,0,...,0,1,0,0,1,0,0,1,0,0
5680,9.500000,0.104720,79.7960,0,1,0,0,0,1,0,...,0,1,0,0,1,0,0,1,0,0

In [28]:
X_train=X.drop(['Item_Outlet_Sales'],axis=1)
y_train=X.Item_Outlet_Sales

In [29]:
X_test=Y

In [30]:
from sklearn.linear_model import Ridge
R=Ridge()
R_model=R.fit(X_train,y_train)

In [31]:
PRED_TEST=R_model.predict(X_test)
PRED_TRAIN=R_model.predict(X_train)

In [32]:
from sklearn.metrics import mean_squared_error
MSE_TRAIN=mean_squared_error(y_train,PRED_TRAIN)
MSE_TRAIN

1270740.9914386482

In [33]:
import numpy as np
RMSE_TRAIN=np.sqrt(MSE_TRAIN)
RMSE_TRAIN

1127.2714808060427

In [34]:
R_SQ=R_model.score(X_train,y_train)
R_SQ

0.5635890805841199

In [41]:
PRED_TEST=R_model.predict(X_test)
print(PRED_TEST)

[1847.75545373 1472.9777651  1876.93447225 ... 1809.59843491 3564.86798635
 1268.10162815]

# lesson 3 slide 41