In [1]:
import pandas as pd
X=pd.read_csv(r"C:\Users\Arbaj\Desktop\Demo Datasets\Lesson 4\bigmart_train.csv")
X

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [2]:
X.corr()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
Item_Weight,1.000000,-0.014048,0.027141,-0.011588,0.014123
Item_Visibility,-0.014048,1.000000,-0.001315,-0.074834,-0.128625
Item_MRP,0.027141,-0.001315,1.000000,0.005020,0.567574
Outlet_Establishment_Year,-0.011588,-0.074834,0.005020,1.000000,-0.049135
Item_Outlet_Sales,0.014123,-0.128625,0.567574,-0.049135,1.000000

In [3]:
Y=X.copy('deep')
drop=Y[Y['Outlet_Size'].isna()].index
drop

#missing value

Int64Index([   3,    8,    9,   25,   28,   30,   33,   45,   46,   47,
            ...
            8493, 8494, 8496, 8500, 8501, 8502, 8508, 8509, 8514, 8519],
           dtype='int64', length=2410)

In [4]:
drop1=Y[Y['Outlet_Size'].isna()]
drop1

#missing value DF

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
25,NCD06,13.000,Low Fat,0.099887,Household,45.9060,OUT017,2007,NaN,Tier 2,Supermarket Type1,838.9080
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344
...,...,...,...,...,...,...,...,...,...,...,...,...
8502,NCH43,8.420,Low Fat,0.070712,Household,216.4192,OUT045,2002,NaN,Tier 2,Supermarket Type1,3020.0688
8508,FDW31,11.350,Regular,0.043246,Fruits and Vegetables,199.4742,OUT045,2002,NaN,Tier 2,Supermarket Type1,2587.9646
8509,FDG45,8.100,Low Fat,0.214306,Fruits and Vegetables,213.9902,OUT010,1998,NaN,Tier 3,Grocery Store,424.7804
8514,FDA01,15.000,Regular,0.054489,Canned,57.5904,OUT045,2002,NaN,Tier 2,Supermarket Type1,468.7232
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850

In [5]:
Y1=Y.drop(drop,axis=0)
Y1.head(3)
#df without nan value

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700

In [6]:
#preprocessing fot lasso reg for predicting missing term 
from sklearn.preprocessing import LabelEncoder
o=LabelEncoder()
o.fit(Y1['Outlet_Size'])
Y1['Outlet_Size']=o.transform(Y1['Outlet_Size'])
Y1.head(3)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,1,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,1,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,1,Tier 1,Supermarket Type1,2097.2700

In [7]:
o=LabelEncoder()
o.fit(Y1.Item_Fat_Content)
Y1['Item_Fat_Content']=o.transform(Y1['Item_Fat_Content'])

o.fit(Y1.Outlet_Location_Type)
Y1['Outlet_Location_Type']=o.transform(Y1['Outlet_Location_Type'])

o.fit(Y1.Outlet_Type)
Y1['Outlet_Type']=o.transform(Y1['Outlet_Type'])

o.fit(Y1.Outlet_Identifier)
Y1['Outlet_Identifier']=o.transform(Y1['Outlet_Identifier'])

In [8]:
Y1

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,1,0.016047,Dairy,249.8092,6,1999,1,0,1,3735.1380
1,DRC01,5.920,2,0.019278,Soft Drinks,48.2692,1,2009,1,2,2,443.4228
2,FDN15,17.500,1,0.016760,Meat,141.6180,6,1999,1,0,1,2097.2700
4,NCD19,8.930,1,0.000000,Household,53.8614,0,1987,0,2,1,994.7052
5,FDP36,10.395,2,0.000000,Baking Goods,51.4008,1,2009,1,2,2,556.6088
...,...,...,...,...,...,...,...,...,...,...,...,...
8517,FDF53,20.750,4,0.083607,Frozen Foods,178.8318,5,1997,2,0,1,3608.6360
8518,FDF22,6.865,1,0.056783,Snack Foods,214.5218,0,1987,0,2,1,2778.3834
8520,NCJ29,10.600,1,0.035186,Health and Hygiene,85.1224,4,2004,2,1,1,1193.1136
8521,FDN46,7.210,2,0.145221,Snack Foods,103.1332,1,2009,1,2,2,1845.5976
8522,DRG01,14.800,1,0.044878,Soft Drinks,75.4670,5,1997,2,0,1,765.6700

In [9]:
x=Y1[['Outlet_Identifier','Outlet_Establishment_Year','Outlet_Location_Type','Outlet_Type','Item_Outlet_Sales']]
y=Y1[['Outlet_Size']]

In [10]:
#predicting the missing outlet size
from sklearn.linear_model import Lasso
l=Lasso()
lasso=l.fit(x,y)

In [11]:
drop1.head(3)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDX07,19.2,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
8,FDH17,16.2,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.2,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350

In [12]:
from sklearn.preprocessing import LabelEncoder



o=LabelEncoder()
o.fit(drop1.Item_Fat_Content)
drop1['Item_Fat_Content']=o.transform(drop1['Item_Fat_Content'])

o.fit(drop1.Outlet_Location_Type)
drop1['Outlet_Location_Type']=o.transform(drop1['Outlet_Location_Type'])

o.fit(drop1.Outlet_Type)
drop1['Outlet_Type']=o.transform(drop1['Outlet_Type'])

o.fit(drop1.Outlet_Identifier)
drop1['Outlet_Identifier']=o.transform(drop1['Outlet_Identifier'])

C:\Users\Arbaj\AppData\Local\Temp/ipykernel_23308/3663144019.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop1['Item_Fat_Content']=o.transform(drop1['Item_Fat_Content'])
C:\Users\Arbaj\AppData\Local\Temp/ipykernel_23308/3663144019.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop1['Outlet_Location_Type']=o.transform(drop1['Outlet_Location_Type'])
C:\Users\Arbaj\AppData\Local\Temp/ipykernel_23308/3663144019.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop1['Outlet_Type']=o.transform(drop1['Outlet_Type'])
C:\Users\Arbaj\AppData\Local\Temp/ipykernel_23308/3663144019.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop1['Outlet_Identifier']=o.transform(drop1['Outlet_Identifier'])

In [13]:
drop2=drop1[['Outlet_Identifier','Outlet_Establishment_Year','Outlet_Location_Type','Outlet_Type','Item_Outlet_Sales']]

In [14]:
import numpy as np
pred_drop=lasso.predict(drop2)
pred_drop1=np.around(pred_drop,0)
#pred_drop2=np.where(pred_drop<1.5,1,pred_drop)
#pred_drop2=np.where(pred_drop>=1.5,2,pred_drop)
#print(len(pred_drop1))
#print(len(pred_drop2))
pred_drop1

array([1., 1., 1., ..., 1., 1., 1.])

In [15]:
X.loc[X['Outlet_Size'].isnull(),'Outlet_Size']=pred_drop1
#fitting into X df in missing value place after around fn

In [16]:
X.isna().sum() #outlet size null value is vanished

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                     0
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [17]:
pd.get_dummies(X['Item_Type'])

,Baking Goods,Breads,Breakfast,Canned,Dairy,Frozen Foods,Fruits and Vegetables,Hard Drinks,Health and Hygiene,Household,Meat,Others,Seafood,Snack Foods,Soft Drinks,Starchy Foods
0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
8519,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8520,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
8521,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
8522,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [18]:
len(X.Item_Identifier.unique())

1559

In [19]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

In [20]:
#encoding X df columns
A=LabelEncoder()
A.fit(X.Item_Fat_Content)
X['Item_Fat_Content']=A.transform(X['Item_Fat_Content'])

In [21]:
X

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,1,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,2,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,1,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,2,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,1.0,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,1,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,1,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,2,0.046982,Baking Goods,108.1570,OUT045,2002,1.0,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,1,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,2,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,1,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [22]:
X.Outlet_Size.unique()

array(['Medium', 1.0, 'High', 'Small'], dtype=object)

In [23]:
X.replace(to_replace={'Outlet_Size':{1.0:'Medium'}},inplace=True)

In [24]:
A.fit(X.Outlet_Size)
X['Outlet_Size']=A.transform(X['Outlet_Size'])

In [25]:
A.fit(X.Outlet_Location_Type)
X['Outlet_Location_Type']=A.transform(X['Outlet_Location_Type'])

In [26]:
A.fit(X.Outlet_Type)
X['Outlet_Type']=A.transform(X['Outlet_Type'])

In [27]:
X

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,1,0.016047,Dairy,249.8092,OUT049,1999,1,0,1,3735.1380
1,DRC01,5.920,2,0.019278,Soft Drinks,48.2692,OUT018,2009,1,2,2,443.4228
2,FDN15,17.500,1,0.016760,Meat,141.6180,OUT049,1999,1,0,1,2097.2700
3,FDX07,19.200,2,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,1,2,0,732.3800
4,NCD19,8.930,1,0.000000,Household,53.8614,OUT013,1987,0,2,1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,1,0.056783,Snack Foods,214.5218,OUT013,1987,0,2,1,2778.3834
8519,FDS36,8.380,2,0.046982,Baking Goods,108.1570,OUT045,2002,1,1,1,549.2850
8520,NCJ29,10.600,1,0.035186,Health and Hygiene,85.1224,OUT035,2004,2,1,1,1193.1136
8521,FDN46,7.210,2,0.145221,Snack Foods,103.1332,OUT018,2009,1,2,2,1845.5976
8522,DRG01,14.800,1,0.044878,Soft Drinks,75.4670,OUT046,1997,2,0,1,765.6700

In [28]:
X.Outlet_Identifier.unique()

array(['OUT049', 'OUT018', 'OUT010', 'OUT013', 'OUT027', 'OUT045',
       'OUT017', 'OUT046', 'OUT035', 'OUT019'], dtype=object)

In [29]:
A.fit(X.Outlet_Identifier)
X['Outlet_Identifier']=A.transform(X['Outlet_Identifier'])

In [30]:
X

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,1,0.016047,Dairy,249.8092,9,1999,1,0,1,3735.1380
1,DRC01,5.920,2,0.019278,Soft Drinks,48.2692,3,2009,1,2,2,443.4228
2,FDN15,17.500,1,0.016760,Meat,141.6180,9,1999,1,0,1,2097.2700
3,FDX07,19.200,2,0.000000,Fruits and Vegetables,182.0950,0,1998,1,2,0,732.3800
4,NCD19,8.930,1,0.000000,Household,53.8614,1,1987,0,2,1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,1,0.056783,Snack Foods,214.5218,1,1987,0,2,1,2778.3834
8519,FDS36,8.380,2,0.046982,Baking Goods,108.1570,7,2002,1,1,1,549.2850
8520,NCJ29,10.600,1,0.035186,Health and Hygiene,85.1224,6,2004,2,1,1,1193.1136
8521,FDN46,7.210,2,0.145221,Snack Foods,103.1332,3,2009,1,2,2,1845.5976
8522,DRG01,14.800,1,0.044878,Soft Drinks,75.4670,8,1997,2,0,1,765.6700

In [31]:
X.Item_Type.unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [32]:
X.groupby('Item_Type')['Item_Weight'].mean()

Item_Type
Baking Goods             12.277108
Breads                   11.346936
Breakfast                12.768202
Canned                   12.305705
Dairy                    13.426069
Frozen Foods             12.867061
Fruits and Vegetables    13.224769
Hard Drinks              11.400328
Health and Hygiene       13.142314
Household                13.384736
Meat                     12.817344
Others                   13.853285
Seafood                  12.552843
Snack Foods              12.987880
Soft Drinks              11.847460
Starchy Foods            13.690731
Name: Item_Weight, dtype: float64

In [33]:
X.drop(columns=('Item_Identifier'),axis=1,inplace=True)

In [34]:
X

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.300,1,0.016047,Dairy,249.8092,9,1999,1,0,1,3735.1380
1,5.920,2,0.019278,Soft Drinks,48.2692,3,2009,1,2,2,443.4228
2,17.500,1,0.016760,Meat,141.6180,9,1999,1,0,1,2097.2700
3,19.200,2,0.000000,Fruits and Vegetables,182.0950,0,1998,1,2,0,732.3800
4,8.930,1,0.000000,Household,53.8614,1,1987,0,2,1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...
8518,6.865,1,0.056783,Snack Foods,214.5218,1,1987,0,2,1,2778.3834
8519,8.380,2,0.046982,Baking Goods,108.1570,7,2002,1,1,1,549.2850
8520,10.600,1,0.035186,Health and Hygiene,85.1224,6,2004,2,1,1,1193.1136
8521,7.210,2,0.145221,Snack Foods,103.1332,3,2009,1,2,2,1845.5976
8522,14.800,1,0.044878,Soft Drinks,75.4670,8,1997,2,0,1,765.6700

In [35]:
X=pd.get_dummies(X) # one hot encoding
X

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,...,Item_Type_Fruits and Vegetables,Item_Type_Hard Drinks,Item_Type_Health and Hygiene,Item_Type_Household,Item_Type_Meat,Item_Type_Others,Item_Type_Seafood,Item_Type_Snack Foods,Item_Type_Soft Drinks,Item_Type_Starchy Foods
0,9.300,1,0.016047,249.8092,9,1999,1,0,1,3735.1380,...,0,0,0,0,0,0,0,0,0,0
1,5.920,2,0.019278,48.2692,3,2009,1,2,2,443.4228,...,0,0,0,0,0,0,0,0,1,0
2,17.500,1,0.016760,141.6180,9,1999,1,0,1,2097.2700,...,0,0,0,0,1,0,0,0,0,0
3,19.200,2,0.000000,182.0950,0,1998,1,2,0,732.3800,...,1,0,0,0,0,0,0,0,0,0
4,8.930,1,0.000000,53.8614,1,1987,0,2,1,994.7052,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,6.865,1,0.056783,214.5218,1,1987,0,2,1,2778.3834,...,0,0,0,0,0,0,0,1,0,0
8519,8.380,2,0.046982,108.1570,7,2002,1,1,1,549.2850,...,0,0,0,0,0,0,0,0,0,0
8520,10.600,1,0.035186,85.1224,6,2004,2,1,1,1193.1136,...,0,0,1,0,0,0,0,0,0,0
8521,7.210,2,0.145221,103.1332,3,2009,1,2,2,1845.5976,...,0,0,0,0,0,0,0,1,0,0
8522,14.800,1,0.044878,75.4670,8,1997,2,0,1,765.6700,...,0,0,0,0,0,0,0,0,1,0

In [36]:
X.rename(columns={'Item_Type_Fruits and Vegetables':'ITFV','Item_Type_Health and Hygiene':'ITHH','Item_Type_Hard Drinks':'ITHD','Item_Type_Snack Foods':'ITSF','Item_Type_Soft Drinks':'ITSD','Item_Type_Starchy Foods':'ITSF'},inplace=True)

X #renaming because space bet column name

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,...,ITFV,ITHD,ITHH,Item_Type_Household,Item_Type_Meat,Item_Type_Others,Item_Type_Seafood,ITSF,ITSD,ITSF
0,9.300,1,0.016047,249.8092,9,1999,1,0,1,3735.1380,...,0,0,0,0,0,0,0,0,0,0
1,5.920,2,0.019278,48.2692,3,2009,1,2,2,443.4228,...,0,0,0,0,0,0,0,0,1,0
2,17.500,1,0.016760,141.6180,9,1999,1,0,1,2097.2700,...,0,0,0,0,1,0,0,0,0,0
3,19.200,2,0.000000,182.0950,0,1998,1,2,0,732.3800,...,1,0,0,0,0,0,0,0,0,0
4,8.930,1,0.000000,53.8614,1,1987,0,2,1,994.7052,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,6.865,1,0.056783,214.5218,1,1987,0,2,1,2778.3834,...,0,0,0,0,0,0,0,1,0,0
8519,8.380,2,0.046982,108.1570,7,2002,1,1,1,549.2850,...,0,0,0,0,0,0,0,0,0,0
8520,10.600,1,0.035186,85.1224,6,2004,2,1,1,1193.1136,...,0,0,1,0,0,0,0,0,0,0
8521,7.210,2,0.145221,103.1332,3,2009,1,2,2,1845.5976,...,0,0,0,0,0,0,0,1,0,0
8522,14.800,1,0.044878,75.4670,8,1997,2,0,1,765.6700,...,0,0,0,0,0,0,0,0,1,0

In [37]:
def weight_pred(cols):        # after lot of repetative task created the user difined function for filling missing value 
    Iteam_Weight=cols[0]       #mean value of groupby ITEM_TYPE
    ITFV=cols[1]
    ITHD=cols[2]
    ITHH=cols[3]
    Item_Type_Household=cols[4]
    Item_Type_Meat=cols[5]
    Item_Type_Others=cols[6]
    Item_Type_Seafood=cols[7]
    ITSF=cols[8]
    ITSD=cols[9]
    ITSF=cols[10]
    
    if pd.isnull(Iteam_Weight):
        if ITFV==1:
            return 13.22
    if pd.isnull(Iteam_Weight):
        if ITHD==1:
            return 11.40
    if pd.isnull(Iteam_Weight):
        if ITHH==1:
            return 13.14
    if pd.isnull(Iteam_Weight):
        if Item_Type_Household==1:
            return 13.38
    if pd.isnull(Iteam_Weight):
        if Item_Type_Meat==1:
            return 12.81
    if pd.isnull(Iteam_Weight):
        if Item_Type_Others==1:
            return 13.85
    if pd.isnull(Iteam_Weight):
        if Item_Type_Seafood==1:
            return 12.55
    if pd.isnull(Iteam_Weight):
        if ITSF==1:
            return 12.98
    if pd.isnull(Iteam_Weight):
        if ITSD==1:
            return 11.84
    if pd.isnull(Iteam_Weight):
        if ITSF==1:
            return 13.69
    else:
        return Iteam_Weight

In [38]:
X['Item_Weight']=X[['ITFV','ITHD','ITHH','Item_Type_Household','Item_Type_Meat','Item_Type_Others','Item_Type_Seafood','ITSF','ITSD','ITSF']].apply(weight_pred,axis=1)
#applying fun to X df

In [39]:
X.isnull().sum()  # finally no null value

Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
Item_Type_Baking Goods       0
Item_Type_Breads             0
Item_Type_Breakfast          0
Item_Type_Canned             0
Item_Type_Dairy              0
Item_Type_Frozen Foods       0
ITFV                         0
ITHD                         0
ITHH                         0
Item_Type_Household          0
Item_Type_Meat               0
Item_Type_Others             0
Item_Type_Seafood            0
ITSF                         0
ITSD                         0
ITSF                         0
dtype: int64

def weight_pred(cols):
    Iteam_Weight=cols[0]
    ITFV=cols[1]
    ITHD=cols[2]
    ITHH=cols[3]
    Item_Type_Household=cols[4]
    Item_Type_Meat=cols[5]
    Item_Type_Others=cols[6]
    Item_Type_Seafood=cols[7]
    ITSF=cols[8]
    ITSD=cols[9]
    ITSF=cols[10]
    
    if pd.isnull(Iteam_Weight):
        if ITFV==1:
            return 13.22
        elif ITHD==1:
            return 11.40
        elif ITHH==1:
            return 13.14
        elif Item_Type_Household==1:
            return 13.38
        elif Item_Type_Meat==1:
            return 12.81
        elif Item_Type_Others==1:
            return 13.85
        elif Item_Type_Seafood==1:
            return 12.55
        elif ITSF==1:
            return 12.98
        elif ITSD==1:
            return 11.84
        elif ITSF==1:
            return 13.69
        else:
            return Iteam_Weight

# after lot of unwanted tricks and multiple techniques we get rid of nan values ðŸ˜‚

In [40]:
X

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,...,ITFV,ITHD,ITHH,Item_Type_Household,Item_Type_Meat,Item_Type_Others,Item_Type_Seafood,ITSF,ITSD,ITSF
0,0,1,0.016047,249.8092,9,1999,1,0,1,3735.1380,...,0,0,0,0,0,0,0,0,0,0
1,0,2,0.019278,48.2692,3,2009,1,2,2,443.4228,...,0,0,0,0,0,0,0,0,1,0
2,0,1,0.016760,141.6180,9,1999,1,0,1,2097.2700,...,0,0,0,0,1,0,0,0,0,0
3,1,2,0.000000,182.0950,0,1998,1,2,0,732.3800,...,1,0,0,0,0,0,0,0,0,0
4,0,1,0.000000,53.8614,1,1987,0,2,1,994.7052,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,0,1,0.056783,214.5218,1,1987,0,2,1,2778.3834,...,0,0,0,0,0,0,0,1,0,0
8519,0,2,0.046982,108.1570,7,2002,1,1,1,549.2850,...,0,0,0,0,0,0,0,0,0,0
8520,0,1,0.035186,85.1224,6,2004,2,1,1,1193.1136,...,0,0,1,0,0,0,0,0,0,0
8521,0,2,0.145221,103.1332,3,2009,1,2,2,1845.5976,...,0,0,0,0,0,0,0,1,0,0
8522,0,1,0.044878,75.4670,8,1997,2,0,1,765.6700,...,0,0,0,0,0,0,0,0,1,0

In [41]:
x=X[['Outlet_Type','ITFV','ITHD','ITHH','Item_Type_Household','Item_Type_Meat','Item_Type_Others','Item_Type_Seafood','ITSF','ITSD','ITSF']]
y=X[['Item_Outlet_Sales']]

In [42]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y)
from sklearn.linear_model import Ridge
A=Ridge()
ridge_model=A.fit(x_train,y_train)

In [43]:
pred=ridge_model.predict(x_test)
pred

array([[1981.31312062],
       [1852.06349784],
       [1100.23435076],
       ...,
       [3743.47066033],
       [2099.36790894],
       [2094.82532806]])

In [44]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,pred)
mse

2488214.542407966

In [45]:
rmse=np.sqrt(mse)
rmse

1577.4075384655566

In [46]:
ridge_model.score(x_test,y_test)

0.14112488340692042